/* GLOBAL RESET
------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing pour tout le monde */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Formatage liens */
a {
	text-decoration: none; /*enlève le soulignement des liens*/
	color: inherit; /*prend la couleur du parent*/
	transition: color .3s ease;
}
a:hover {
	color:#3279F7; /*couleur liens en survol*/
}

/*ROOT FONT SIZE*/
html {
	font-size: 16px; /*par défaut dans les navigateurs: 16px*/
}



/* COMMON
 * Formatage de base et valeurs en commun
------------------------------------------------*/
/* BALISES
.......................................*/
/*BODY*/
body {
  font: 300 1em/1.6 "Open Sans", sans-serif;
	/*
	La ligne ci-dessus veut dire:
	font-family: "Open Sans", sans-serif; => "Open Sans" font from Google Fonts
	font-size: 1em; => 15px
	font-weight: 300; => "Open Sans" light
	line-height: 1.6; => 24px
	*/
	color: #212121; /*couleur par défaut*/
	text-align: center;
}

/*Titles*/
h1, h2, h3 {
  font-weight: normal; /*400*/
  font-family: Merriweather, serif;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.2em;
	font-weight: 300;
}

/*Paragraphes*/
p {
	margin-bottom: 1em;
}


/* CLASSES
.......................................*/
/*Flex (default values)*/
.flex {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap; /*flex-direction and flex-wrap in one ligne*/
	align-items: flex-start; /*default is stretch*/
}



/* LAYOUT
 * Dimenssions et positionnement des choses
 * Par défaut on vise <= 320px (Mobile First !)
------------------------------------------------*/
/* HEADER
.......................................*/
/*Header tag - background + padding*/
.main-header {
	background: #f5f5f5;
	padding: 1em;
	align-items: center;
}


/* LOGO
........................*/
/*Logo - largeur*/
.logo {
	width: 50px;
}

/*Logo img*/
.logo img {
	display: block;
	width: 100%;
	height: auto;
}


/* NAV + MENUS
........................*/
/*NAV tag*/
.main-nav {
	background-color: rgba(255, 255, 255, .6); /* a = alpha, transparence de 0 à 1 */
}

/*Hamburger link*/
.hamburger {
	display: block;
	font-size: 1.8em;
	line-height:1;
	padding: .3em .4em .3em;
}

/*UL tag*/
.main-menu {
	display: none;
}


/* MAIN
.......................................*/
/*MAIN tag*/
.main-content {
	padding: 0 6%;
	margin-bottom: 2em;
}
.main-content.flex {
	display: block;
}


/* Article, gallery, aside - margin-top 2em */
.main-content article,
.gallery-items,
.main-content aside {
	margin-top: 2em;
}


/* GALLERY
........................*/
/* Gallery figure - margins */
.gallery-items figure {
	margin: 0 auto 2em;
}

/* Gallery img - display + border-radius + filter + box-shadow + transition */
.gallery-items figure img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 8px;
	filter: grayscale(100%);
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	transition: filter .4s ease-in-out;
}

/*Gallery img hover - filter*/
.gallery-items figure img:hover {
	filter: grayscale(0%);
}

/*Gallery figcaption - formatage texte + margin top*/
.gallery-items figcaption {
	font-size: .9em;
	text-align: center;
	margin-top:.5em;
}


/* ASIDE
........................*/
/*Aside tag*/
aside {
	/*rien à faire*/
}

/* Aside title */
.aside-title {
	margin-bottom: 1em;
}

/*Aside title :after - faire une bordure*/
.aside-title:after {
	content: "";
	display: block;
	height: 1px;
	margin-top: .1em;
	background-color: #ccc;
}

/* Aside links */
aside a {
	display: block;
	padding-left: 15px;
	line-height: 1.3;
	margin-bottom: .8em;
}


/* FOOTER
.......................................*/
/*FOOTER tag*/
.main-footer {
	text-align: center;
	padding: 2em 0;
	border-top: solid 1px #e5e5e5;
}

/*FOOTER paragraphes*/
.main-footer p {
	margin: 0;
}



/* MEDIA QUERIES SCREEN (Mobile First !)
 * Mobile first utilise min-width
 * Les points de rupture sont valables seulement
 * pour cette mise en page
------------------------------------------------*/
/* Point de rupture 1  */
@media only screen and (min-width: 371px) {
  
	/*Header tag - min-height + image en arrière-plan*/
	.main-header {
		min-height: 120px;
		
		background-image: url(../img/header.jpg); /* regardez le lien vers l'image! Depuis ce fichier vers le dossier img */
		background-repeat: no-repeat;
		background-position: left center; /* x, y */
		background-size: cover; /* pour voir l'image en entier */
	
		/* shortcut equivalent:
		background: url(../img/header.jpg) no-repeat center bottom / cover;
		*/
	}
	
	/*Main - padding*/
	.main-content {
		padding: 0 3%;
	}
	
	/*Gallery - largeur*/
	.gallery-items figure {
    width: 70%;
	}
	
}


/* Point de rupture 2 */
@media only screen and (min-width: 481px) {
	
	/*Body - texte à gauche*/
	body {
		text-align: left;
	}
	
	/*Sections - margin*/
	section {
    margin-top: 1em;
	}
	
	/*Gallery - largeur figure + margin*/
	.gallery-items figure {
    width: 45%;
		margin: 0 0 5%;
	}

	/* Aside li items - position relative*/
	.related-links li {
		position: relative;
	}
	
	/* Aside links - formatage liens */
	aside a {
		display: block;
		padding-left: 15px;
		line-height: 1.3;
		margin-bottom: .8em;
	}
	
	/* Aside links :before - ajouter un icône */
	.related-links a:before {
		font-family: fonticon;
		font-size: .8em;
		position: absolute;
		left: -2px;
		top: 3px;
		content: "\e902";
	}
	
}


/* Point de rupture 3 */
@media only screen and (min-width: 668px) {
	
	/*Gallery - largeur figure*/
	.gallery-items figure {
    width: 30%;
	}
	
	/*Text columns (2 colonnes)*/
	.text-col-2 {
		column-count: 2;
		column-gap: 2em;
		column-width: 50%;
	}
	
}


/* Point de rupture 4  */
@media only screen and (min-width: 801px) {
	
	/*ROOT FONT SIZE*/
	html {
		font-size: 15px; /*par défaut dans les navigateurs: 16px*/
	}
	
	/* CLASSES & COMMON
	.......................................*/
	/*Sections - margin-top*/
	section {
		margin-top: 3em;
	}
	
	/*Classes L1 et L2 - width + max-width*/
	.L1 {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
	}
	.L2 {
		width: 100%;
		max-width: 768px;
		margin: 0 auto;
	}
	
	/*Menu et Main - display flex*/
	.main-menu.flex,
	.main-content.flex {
		display: flex;
	}
	
	/*Article et Aside - margin top 0*/
	.main-content article,
	.main-content aside {
		margin-top: 0;
	}


	/* HEADER
	.......................................*/
	/*Header tag - position relative + min-height + padding*/
	.main-header {
		position: relative;
		min-height: 200px;
		padding: 0;
	}
	
	/*Logo - position absolute + width*/
	.logo {
		position: absolute;
		left: 20px;
		top: 25px;
		width: 60px;
	}

	/* NAV
	........................*/
	/*NAV tag - position absolute + width + background*/
	.main-nav {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, .6); /* a = alpha, transparence de 0 à 1 */
		text-align: center;
	}
	
	/*Hamburger link - masquer*/
	.hamburger {
		display: none;
	}
	
	/*UL tag - padding*/
	.main-menu.flex {
		padding: 0 3%;
	}
	
	/*Home icon - font-size*/
	.main-menu .icon-home {
		font-size: 1.4em;
	}
	
	/*Menu links - formatage liens pour desktop*/
	.main-menu a {
		display: block; /* pour que le lien soit cliquable en dehors du texte; default = inline */
		padding: .8em 1em .5em;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 400;
		color: #555;
		border-bottom: solid 2px rgba(0,0,0,0); /* transparent border */
		transition: border .4s ease-in-out;
	}
	
	/*Hover and active links - color + border*/
	.main-menu a:hover, .main-menu .active {
		color: #000;
		border-color: rgba(0,0,0,.8);
	}
	
	/* MAIN
	.......................................*/
	/*MAIN tag - padding et margin*/
	.main-content {
		padding: 0 3%;
		margin-top: 3em;
		margin-bottom: 3em;
	}
	
	/* Article - largeur */
	.main-content article {
		width: 65%;
	}
	
	/* Aside - largeur */
	aside {
		width: 25%;
	}
	.aside-title {
    margin-bottom: .5em;
	}

}



/* MEDIA QUERIES PRINT
------------------------------------------------*/
@media only print {
	
	/*Taille texte*/
	body {
		background: white;
   	font-size: 12pt;
	}
	
	/*Masquer, ne pas imprimer*/
	.main-nav, .main-footer, aside {
		display: none;
	}
	
	/*Header*/
	.main-header {
		min-height: 0;
	}
	.logo {
		left: auto;
		right: 0;
	}
	
	/*Largeurs, tout le monde à 100%*/
	.L1,
	.L2,
	.main-content article,
	.main-content aside {
		width: 100%;
		margin: 0;
	}
	
	/*Éléments flex => display block*/
	.main-content.flex {
		display: block;
	}
	
	/*Pour éviter d'avoir les images coupées...*/
	.gallery-items {
    page-break-before: avoid; /* auto | always | avoid | left | right */
    page-break-after: avoid; /* auto | always | avoid | left | right */
    page-break-inside: avoid; /* auto | avoid */
	}
	
	/*Forcer la section avec du texte sur la page suivante*/
	.some-text { 
    page-break-before: always;
  }

	.main-content aside {
		margin: 30px 0;
	}
	
	.main-footer {
		padding: 1em;
	}
	
}

@media only print and (orientation: landscape) {
	
	/*Pour éviter d'avoir les images coupées...*/
	.gallery-items {
		page-break-before: auto; /* auto | always | avoid | left | right */
		page-break-after: auto; /* auto | always | avoid | left | right */
		page-break-inside: avoid; /* auto | avoid */
	}
	
}

